[submodule "gems/bucaro"]
	path = gems/bucaro
	url = git@github.com:miguel-rivas/bucaro.git
[submodule "gems/pavo"]
	path = gems/pavo
	url = git@github.com:miguel-rivas/pavo.git
[submodule "gems/colibri"]
	path = gems/colibri
	url = git@github.com:miguel-rivas/colibri.git
[submodule "gems/paloma"]
	path = gems/paloma
	url = git@github.com:miguel-rivas/paloma.git
[submodule "gems/guinea"]
	path = gems/guinea
	url = git@github.com:miguel-rivas/guinea.git
[submodule "gems/papagayo"]
	path = gems/papagayo
	url = git@github.com:miguel-rivas/pelicano.git
