extends commons-layout.pug
include app-drlogic-components.pug
{% load static %}

block head
	meta(property="og:image" content="http://miguelrivas.me/img/portfolio.png")
	link(href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700", rel="stylesheet", type="text/css")

block body

block footer
	script(src="{% static 'app-drlogic.js' %}")