{% load custom_tags %}

mixin nav(color)
	nav#nav.navbar.navbar-default(class=color)
		.container
			.info
				address
					a.mail(href="mailto:hello@drlogic.com?Subject=Contact%20From%20Webpage") hello@drlogic.com
					a.phone(href="tel:02036426540") 020 3642 6540

			.navbar-header
				button.navbar-toggle.collapsed(aria-controls="navbar", aria-expanded="false", data-target="#navbar", data-toggle="collapse", type="button")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="home")
					img.hidden-xs(src="{% get_asset 'img/app_drlogic/logo-drlogic' %}")
					img.visible-xs(src="{% get_asset 'img/app_drlogic/logo-drlogic-white' %}")
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-main.navbar-right
					li: a.nav-link(href="home") Home
					li: a.nav-link(href="about") About Us
					li.dropdown
						a.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-expanded="false")
							| Services
							span.caret
						ul.dropdown-menu
							li: a(href="#") Mac Support
							li: a(href="#") Other Services
					li: a.nav-link(href="portfolio") Portfolio
					li: a.nav-link.contact-us(href="contact") Contact Us
					li: a.nav-link(href="404") Error 404

mixin call-us(color)
	section.call-us(class=color)
		.container
			.row
				.col-md-6
					h2 Need some Mac help?
					p Please drop us a line or pick up the phone and invite us round for a coffee.
					p We’re always happy to chat.
					a.btn.btn-default.white(href="contact") Contact Us
					small
						or Get in Touch With Us
						a.phone(href="tel:02036426540") 020 3642 6540
				.col-md-6
					img.preview(src="{% get_asset 'img/app_drlogic/mac-help' %}")


mixin footer
	footer
		.social-networks
			a.fa.fa-twitter(href="https://twitter.com/drlogic",target: "_blank")
			a.fa.fa-facebook(href="https://www.facebook.com/DrLogic/?fref=ts", target: "_blank")
			a.fa.fa-linkedin(href="https://www.linkedin.com/company/452520", target: "_blank")
		.bend
			address
				.container
					a.mail(href="mailto:support@drlogic.com?Subject=Contact%20From%20Webpage") support@drlogic.com
					a.phone(href="tel:02036426540") 020 3642 6540
					p Exmouth House 3-11 Pine Street London EC1R 0JH
					hr
					.lenker
						img.image-responsive.logo(src="{% get_asset 'img/app_drlogic/logos-footer-exponentiale' %}").exponentiale
						img.image-responsive.logo(src="{% get_asset 'img/app_drlogic/logos-footer-apple' %}").apple
						img.image-responsive.logo(src="{% get_asset 'img/app_drlogic/logos-footer-casper' %}").casper
						img.image-responsive.logo(src="{% get_asset 'img/app_drlogic/logos-footer-meraki' %}").meraki
					hr
					small © Copyright 2016 Dr Logic. All rights reserved.
					small Dr Logic is a registered trademark of Doctor Logic Ltd.
					small Registered in England and Wales. Company no. 4947299. VAT no. 848448189.

					a.terms(href="{% get_asset 'docs/terms' 'pdf' %}")
						p Terms & Conditions
						span.fa.fa-book