extends app-drlogic-layout
include app-drlogic-components.pug
{% load custom_tags %}

block body
	//- aside.loader
	+nav

	section#home
		section.intro
			.copywrite
				h1 Mac IT support
				p We provide Mac IT support for nice companies who like to do things differently.
				p Established in 2003, we’re passionate about all things Apple.
				p We have a simple mission: to help our clients to do amazing things with IT.

			img(src="{% get_asset 'img/app_drlogic/home-table-mobile' %}").table-mobile

			.animation-intro
				.office
					.table
					img.object.front(src="{% get_asset 'img/app_drlogic/home-hand-03' %}").hand03
					img.object.front(src="{% get_asset 'img/app_drlogic/home-leg' %}").leg
					img.object.front(src="{% get_asset 'img/app_drlogic/home-guy' %}").guy
					img.object.front(src="{% get_asset 'img/app_drlogic/home-folder' %}").folder
					img.object.front(src="{% get_asset 'img/app_drlogic/home-pointer' %}").pointer
					img.object.front(src="{% get_asset 'img/app_drlogic/home-head' %}").head
					img.object.front(src="{% get_asset 'img/app_drlogic/home-head-02' %}").head-02
					img.object.back(src="{% get_asset 'img/app_drlogic/home-hand-01' %}").hand01
					img.object.back(src="{% get_asset 'img/app_drlogic/home-hand-02' %}").hand02
					img.object.back(src="{% get_asset 'img/app_drlogic/home-hand-04' %}").hand04
					img.object(src="{% get_asset 'img/app_drlogic/home-computer' %}").pc

			.lamp-area.left
				.lamp
					.bulb
			.lamp-area.right
				.lamp
					.bulb
			.wireframe

		section.body
			.bend
				.container
					article
						.contain
							img(src="{% get_asset 'img/app_drlogic/home-body-it-support' %}")
							h2 Mac IT support
							p We’ll work in partnership with you to become your own IT department, proactively helping you improve your IT as well as solving day-to-day issues.
						a.btn.btn-primary.blue-02(href="about") Meet our team

					article
						.contain
							img(src="{% get_asset 'img/app_drlogic/home-body-it-consulting' %}")
							h2 IT services for business
							p Dr Logic can help your business, by offering impartial advice on everything from phone systems, data backup and storage to email & web hosting, networking and high-speed broadband.
						a.btn.btn-primary.blue-02(href="#") Find out more

					article
						.contain
							img(src="{% get_asset 'img/app_drlogic/home-body-it-services' %}")
							h2 IT projects & consulting
							p Whatever Mac IT issue your business is facing, we’ll work with you to find a realistic and affordable solution.
						a.btn.btn-primary.blue-02(href="contact") Contact Us

		+call-us
		+footer