include jade/components

doctype html
html
	head
		+head
		title Error 404 // DrLogic
		link(href="css/404.css", rel="stylesheet")

	body
		section#error404
			.info
				h1 Error
				.numbers
					span.n1 4
					span.n2 0
					span.n3 4
				h2 sorry douglas, time to go home
				p the page you were looking for doens't exist
				a.btn(href="home.html") Go Home and accept defeat
		+scripts