include jade/components

doctype html
html
	head
		+head_extended
		title Portfolio // DrLogic
	body
		aside.loader
		+color-nav

		section#testimonial
			section.intro
				.container
					h1 People love our Mac support
					p We’re really lucky to be working with some amazing clients, some who joined us when they were just starting out. We work with Architects, PR companies, Fashion Designers, Landscape Designers, Marketing agencies and even a cookery school. Big or small, if you’ve decided you need better Mac IT support for your business, why not get in touch?
					.animation-intro
						.relative-box
							img(src="img/testimonial/jumping.png").image-resposive.jumping
							img(src="img/testimonial/hands.png").image-resposive.hands

			section.body
				.bend
					.container
						.copywrite
							h2 Creative, Entrepreneurial Customers
							p Don’t just take our word for it, take a look at what our lovely clients have to say.
							p You can also read our 5* reviews on the Apple Consultants Network.

							a(href="#", target="_blank").btn.btn-primary.cyan.apple-reviews
								span Reviews

						article.speech-ballon(class="left-tail yellow active" )
							.preview
								button.open-pixel-modal
									img(src="img/clients/logo-06.png").logo
							.pixel-modal
								button.fa.fa-times.close-pixel-modal(type="button")
								.pixel-modal-body
									img(src="img/clients/logo-06.png").logo-min
									.fix-text
										p Insanity Artists was established in 2003 and has become the UKs largest live agency exclusively representing DJ and PA talent from the areas of music, fashion, television and radio. Their clients include: Shayne Ward, Sarah Harding, Gareth Gates & 5ive.
										p At Insanity, we use Macs pretty much across the board to run our business.  Our clients have high expectations and when you’re working internationally, you can’t afford to have email go down, or a laptop out of action – it could mean losing a vital booking – or worse a client.
										p We’d had a support company on a contract before, but we weren’t getting what we needed, so we approached Dr Logic.
										p From the beginning, it was a different approach.  The team came in and took the time to really understand our set-up and where we were having issues.  They got a support contract up and running really quickly and picked up on a few things we hadn’t thought of doing.  Sounds simple, but it’s made a big difference to how our IT runs.  Day-to-day, when there’s a problem – it just gets sorted.
										p Someone’s on site regularly, so they tend to spot issues before they happen. And we know that as our business grows and we need to upgrade, Dr Logic will work with us.
										p It’s better than my own Doctor!
										small Matt Wynter, Insanity Artists

		+call-us
		+footer
		+scripts_extended